<template>
    <div>
        <!-- =========================
            START RECENT RENOVATIONS SECTION
        ============================== -->
        <!-- =========================
            START RECENT RENOVATIONS SECTION
        ============================== -->
        <section class="recent_renovations_area single_recent_renovations_area">
            <div class="common_title">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h3 v-text="__('LAVORI DI RISTUTTURAZIONE RECENTI')"></h3> 
                            <h2 v-text="__('Ambienti nuovi da scoprire')"></h2>
                            <span></span> 
                            <p>
                                <span v-text="__('Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc dolor augue,')"></span>
                                <br> <span v-text="__('lobortis nec hendrerit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.')"></span>
                                <br> <span v-text="__('Nunc dolor augue, lobortis nec hendrerit.')"></span>
                            </p>                          
                        </div>
                    </div>
                </div>                
            </div>            
            <div class="container">
                <div id= "recent_renovations_slider2" class="owl-carousel owl-theme">
                    <div class="row no-gutters">
                        <div class="col-sm-6">
                            <div class="recent_renovations_inner">
                                <h3>
                                    <span v-text="__('APPARTAMENTO')"></span> / <span v-text="__('SOGGIORNO')"></span>
                                </h3>
                                <h2 v-text="__('Ristruttrazione appartamento 90mq')"></h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc dolor augue, lobortis nec hendrerit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc dolor augue, lobortis nec hendrerit.</p>
                                <a href="#" v-text="__('Scopri di più')"></a>
                                <a href="#"><span>+</span></a>
                            </div>
                        </div>
                        <div class="col-sm-6 order-1">
                            <div class="recent_renovations_img">
                                <img :src="core.Asset_Path+'images/renovations1.png'" class="img-fluid" alt="">                            
                            </div>    
                        </div>
                    </div>
                    <div class="row no-gutters">
                        
                        <div class="col-md-6">
                            <div class="recent_renovations_inner">
                                <h3>
                                    <span v-text="__('APPARTAMENTO')"></span> / <span v-text="__('SOGGIORNO')"></span>
                                </h3>
                                <h2 v-text="__('Ristruttrazione appartamento 90mq')"></h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc dolor augue, lobortis nec hendrerit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc dolor augue, lobortis nec hendrerit.</p>
                                <a href="#" v-text="__('Scopri di più')"></a>
                                <a href="#"><span>+</span></a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <img :src="core.Asset_Path+'images/renovations2.png'" class="img-fluid" alt="">                        
                        </div>
                    </div>
                    <div class="row no-gutters">
                        <div class="col-md-6">
                            <div class="recent_renovations_inner">
                                <h3>
                                    <span v-text="__('APPARTAMENTO')"></span> / <span v-text="__('SOGGIORNO')"></span>
                                </h3>
                                <h2 v-text="__('Ristruttrazione appartamento 90mq')"></h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc dolor augue, lobortis nec hendrerit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc dolor augue, lobortis nec hendrerit.</p>
                                <a href="#" v-text="__('Scopri di più')"></a>
                                <a href="#"><span>+</span></a>                        
                            </div>
                        </div>
                        <div class="col-md-6">
                            <img :src="core.Asset_Path+'images/renovations3.png'" class="img-fluid" alt="">                        
                        </div>
                    </div>                
                </div>
            </div>
        </section>
        <!-- =========================
            END RECENT RENOVATIONS SECTION
        ============================== -->  
    </div>
</template>

<script>
    export default {
        name: 'app',
        data() {
            return {
                core : core,
                selectAMb : 0
            }
        },
        mounted(){
            $(function () {
                var restructure_slider = jQuery("#recent_renovations_slider2");
                restructure_slider.owlCarousel({
                    loop: false,
                    margin: 0,
                    smartSpeed: 1500,
                    autoplay:false,
                    nav: true,
                    dots:false,
                    navText: ['<img src="'+core.Asset_Path+'images/arrow-left.png">','<img src="'+core.Asset_Path+'images/arrow-right.png">'],
                    responsive: {
                        0: {
                            items: 1
                        },
                        400: {
                            items: 1
                        },
                        768: {
                            items: 1
                        },
                        1200: {
                            items: 1
                        }
                    }
                });
            });
        }
    }
</script>
