<template>
    <div>
        <topNav></topNav>
        <banner></banner>
        <form1></form1>

        <restructure></restructure>
        <portfolio></portfolio>
        <renovations></renovations>

        <quote></quote>
        <testimonial></testimonial>
        <social></social>
        <brand></brand>
        <footer_all></footer_all>
    </div>
</template>

<script>
    import topNav from './global/_topbar.vue';
    import banner from './global/_banner_simple.vue';
    import form1 from './global/_welcome_form_1.vue';

    import restructure from './global/ambienti/_restructure_ambienti.vue';
    import portfolio from './global/ambienti/_portfolio_ambienti.vue';
    import renovations from './global/ambienti/_renovations_ambienti.vue';

    import quote from './global/_quote_home.vue';
    import testimonial from './global/_testimonial_home.vue';
    import social from './global/_social_home.vue';
    import brand from './global/_brand_home.vue';
    import footer_all from './global/_footer.vue';
    
    export default {
        name: 'ambienti',
        data() {
            return {

            }
        },
        components: {topNav,banner,form1,restructure,portfolio,renovations,quote,testimonial,social,brand,footer_all}
    }
</script>
