<template>
    <div>
        <!-- =========================
            START WELLCOME SECTION
        ============================== -->
        <section class="welcome_form_area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="welcome_form_inner">
                            <h2  v-text="__('Inizia oggi la tua ristrutturazione')"></h2>
                            <p></p>
                            <form>
                                <div class="form-row">
                                    <div class="col-sm-3">
                                        <md-field>
                                            <label for="name1" v-text="__('Scrivi il tuo nome')"></label>
                                            <md-input name="name" id="name1" autocomplete="off"/>
                                        </md-field>
                                    </div>
                                    <div class="col-sm-3">
                                        <md-field>
                                            <label for="email1" v-text="__('la tua email')"></label>
                                            <md-input name="email" id="email1" autocomplete="off"/>
                                        </md-field>
                                    </div>
                                    <div class="col-sm-3">
                                        <md-field>
                                            <label for="phone1" v-text="__('Cellulare')"></label>
                                            <md-input name="phone" id="phone1" autocomplete="off"/>
                                        </md-field>
                                    </div>
                                    <div class="col-sm-3">
                                        <md-field>
                                            <label for="font" v-text="__('Cosa vuoi ristrutturare')"></label>
                                            <md-select name="room_id" id="font">
                                                <md-option value="arial">Arial</md-option>
                                                <md-option value="calibri">Calibri</md-option>
                                                <md-option value="cambria">Cambria</md-option>
                                                <md-option value="comic-sans">Comic Sans</md-option>
                                                <md-option value="consolas">Consolas</md-option>
                                                <md-option value="courier">Courier</md-option>
                                                <md-option value="droid-sans">Droid Sans</md-option>
                                                <md-option value="georgia">Georgia</md-option>
                                                <md-option value="helvetica">Helvetica</md-option>
                                                <md-option value="impact">Impact</md-option>
                                                <md-option value="roboto">Roboto</md-option>
                                                <md-option value="segoe-ui">Segoe UI</md-option>
                                                <md-option value="times-new-roman">Times New Roman</md-option>
                                                <md-option value="ubuntu">Ubuntu</md-option>
                                                <md-option value="verdana">Verdana</md-option>
                                            </md-select>
                                        </md-field>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="gridCheck">
                                        <label class="form-check-label" for="gridCheck"
                                               v-text="__('Inviando il form autorizzi Ristrutturazione case a contattarti per fini commerciali. Dichiari inoltre di aver letto e di accettare la Privacy Policy.')">
                                        </label>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary" v-text="__('Completa la richiesta')"></button>
                            </form>
                            <span v-text="__('PREVENTIVO GRATUITO')"></span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- =========================
            END WELLCOME SECTION
        ============================== -->
    </div>
</template>

<script>
    export default {
        name: 'app',
        data() {
            return {
                core : core,
                selectAMb : 0
            }
        }
    }
</script>
